# Jaguar files #
codeforest.xml

# Directories #
/build/
/bin/
target/
 
*.class
 
# Package Files #
*.jar
*.war
*.ear
*.db

######################
# Maven
######################
pom.xml.releaseBackup
release.properties

######################
# Windows
######################
 
# Windows image file caches
Thumbs.db 
 
# Folder config file
Desktop.ini
 
######################
# OSX
######################
 
.DS_Store
.svn
 
# Thumbnails
._*
 
######################
# Eclipse
######################
 
*.pydevproject
.project
.metadata
bin/**
*/bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.recommenders

# External tool builders
.externalToolBuilders/
 
# Locally stored "Eclipse launch configurations"
*.launch
br.usp.each.saeg.jaguar.codeforest/src/test/resources/codeForestTest.xml
