<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.core.launchDelegates">
      <launchDelegate
            delegate="br.usp.each.saeg.jaguar.plugin.JunitLaunchDelegate"
            id="br.usp.each.saeg.jaguar.plugin.JunitLaunchDelegate"
            modes="run"
            name="Jaguar Junit Delegate"
            type="org.eclipse.jdt.junit.launchconfig">
      </launchDelegate>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="br.usp.each.saeg.jaguar.plugin.JunitLaunchDelegate"
            id="br.usp.each.saeg.jaguar.plugin.jaguarLaunchConfigurationType"
            modes="run"
            name="Jaguar Fault Localization"
            public="true">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="br.usp.each.saeg.jaguar.plugin.JaguarConfigTabGroup"
            id="br.usp.each.saeg.jaguar.plugin.JaguarConfigurationTabGroup"
            type="br.usp.each.saeg.jaguar.plugin.jaguarLaunchConfigurationType">
      </launchConfigurationTabGroup>
   </extension>

</plugin>
