<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
 	<extension
          point="org.eclipse.debug.core.launchDelegates">
       <launchDelegate
             delegate="br.usp.each.saeg.jaguar.plugin.JUnitLaunchConfigurationDelegate"
             id="br.usp.each.saeg.jaguar.plugin.JUnitLaunchConfigurationDelegate"
             modes="run"
             name="Jaguar Junit Delegate"
             type="org.eclipse.jdt.junit.launchconfig">
       </launchDelegate>
    </extension>
    <extension
          point="org.eclipse.debug.core.launchConfigurationTypes">
       <launchConfigurationType
             delegate="br.usp.each.saeg.jaguar.plugin.JUnitLaunchConfigurationDelegate"
             id="br.usp.each.saeg.jaguar.plugin.jaguarLaunchConfigurationType"
             modes="run"
             name="Jaguar Fault Localization"
             public="true">
       </launchConfigurationType>
    </extension>
    <extension
          point="org.eclipse.debug.ui.launchConfigurationTabGroups">
       <launchConfigurationTabGroup
             class="br.usp.each.saeg.jaguar.plugin.JaguarConfigTabGroup"
             id="br.usp.each.saeg.jaguar.plugin.JaguarConfigurationTabGroup"
             type="br.usp.each.saeg.jaguar.plugin.jaguarLaunchConfigurationType">
       </launchConfigurationTabGroup>
    </extension>
    <extension
          point="org.eclipse.debug.ui.launchConfigurationTabs">
       <tab
             class="br.usp.each.saeg.jaguar.plugin.JaguarConfigTab"
             group="br.usp.each.saeg.jaguar.plugin.JaguarConfigurationTabGroup"
             id="br.usp.each.saeg.jaguar.plugin.JaguarConfigTab"
             name="Jaguar Configuration">
       </tab>
    </extension>
    <extension
          point="org.eclipse.debug.ui.launchConfigurationTypeImages">
       <launchConfigurationTypeImage
             configTypeID="br.usp.each.saeg.jaguar.plugin.jaguarLaunchConfigurationType"
             icon="icon/jaguar.gif"
             id="br.usp.each.saeg.jaguar.plugin.launchConfigurationTypeImage">
       </launchConfigurationTypeImage>
    </extension>
    <extension
          point="org.eclipse.ui.views">
       <category
             id="br.usp.each.saeg.jaguar.plugin"
             name="Saeg">
       </category>
       <view
             category="br.usp.each.saeg.jaguar.plugin"
             class="br.usp.each.saeg.jaguar.plugin.views.JaguarView"
             icon="icon/jaguar.gif"
             id="br.usp.each.saeg.jaguar.plugin.views.JaguarView"
             name="Jaguar View">
       </view>
       <view
             category="br.usp.each.saeg.jaguar.plugin"
             class="br.usp.each.saeg.jaguar.plugin.views.RoadmapView"
             icon="icon/jaguar.gif"
             id="br.usp.each.saeg.jaguar.plugin.views.RoadmapView"
             name="Roadmap View">
       </view>
    </extension>
    <!--<extension point="org.eclipse.jdt.junit.testRunListeners">
       <testRunListener class="br.usp.each.saeg.jaguar.plugin.listeners.JUnitListener"/>
    </extension> -->
    <!--
	<extension point="org.eclipse.debug.ui.launchShortcuts">
    <shortcut
          label="Jaguar Fault Localization"
          helpContextId="org.eclipse.jdt.junit.launch_shortcut"
          class="br.usp.each.saeg.jaguar.plugin.JaguarJunitShortcut"
          modes="run, debug"
          id="br.usp.each.saeg.jaguar.plugin.junitShortcut">
       <contextualLaunch>
          <enablement>
             <with variable="selection">
                <count value="1"/>
                <iterate>
                   <adapt type="org.eclipse.jdt.core.IJavaElement">
                      <test property="org.eclipse.jdt.core.isInJavaProject"/>
                      <test property="org.eclipse.jdt.core.hasTypeOnClasspath" value="junit.framework.Test"/>
                   </adapt>
                </iterate>
             </with>
          </enablement>
       </contextualLaunch>
       <configurationType
             id="org.eclipse.jdt.junit.launchconfig">
       </configurationType>
       <description
             description="Jaguar Debug description"
             mode="debug">
       </description>
       <description
             description="Jaguar Run description"
             mode="run">
       </description>
    </shortcut>
	</extension>
	-->
<!-- markers and annotations -->
<extension point="org.eclipse.core.resources.markers"
      id="br.usp.each.saeg.jaguar.plugin.marker.no"
      name="No Rank Code Marker">
      <super type="org.eclipse.core.resources.textmarker"/>
      <persistent value="false"/>
</extension>
<extension point="org.eclipse.core.resources.markers"
      id="br.usp.each.saeg.jaguar.plugin.marker.low"
      name="Low Rank Code Marker">
      <super type="org.eclipse.core.resources.textmarker"/>
      <persistent value="false"/>
</extension>
<extension point="org.eclipse.core.resources.markers"
      id="br.usp.each.saeg.jaguar.plugin.marker.midlow"
      name="Mid Low Rank Code Marker">
      <super type="org.eclipse.core.resources.textmarker"/>
      <persistent value="false"/>
</extension>
<extension point="org.eclipse.core.resources.markers"
      id="br.usp.each.saeg.jaguar.plugin.marker.midhigh"
      name="Mid High Rank Code Marker">
      <super type="org.eclipse.core.resources.textmarker"/>
      <persistent value="false"/>
</extension>
<extension point="org.eclipse.core.resources.markers"
      id="br.usp.each.saeg.jaguar.plugin.marker.high"
      name="High Rank Code Marker">
      <super type="org.eclipse.core.resources.textmarker"/>
      <persistent value="false"/>
</extension>

   <extension point="org.eclipse.ui.editors.markerAnnotationSpecification">
     <specification
         annotationType="br.usp.each.saeg.jaguar.noRankAnnotation"
         icon="icon/empty.gif"
         colorPreferenceKey="noRank_color"
         colorPreferenceValue="220,220,220"
         contributesToHeader="false"
         highlightPreferenceKey="noRank_highlight"
         highlightPreferenceValue="true"
         includeOnPreferencePage="true"
         label="No Rank Annotation"
         overviewRulerPreferenceKey="noRank_overviewRuler"
         overviewRulerPreferenceValue="true"
         presentationLayer="0"
         textPreferenceKey="noRank_text"
         textPreferenceValue="true"
         textStylePreferenceValue="BOX"
         verticalRulerPreferenceKey="noRank_verticalRuler"
         verticalRulerPreferenceValue="false">
     </specification>
     <specification
         annotationType="br.usp.each.saeg.jaguar.lowRankAnnotation"
         icon="icon/empty.gif"
         colorPreferenceKey="lowRank_color"
         colorPreferenceValue="192,255,192"
         contributesToHeader="false"
         highlightPreferenceKey="lowRank_highlight"
         highlightPreferenceValue="true"
         includeOnPreferencePage="true"
         label="Low Rank Annotation"
         overviewRulerPreferenceKey="lowRank_overviewRuler"
         overviewRulerPreferenceValue="true"
         presentationLayer="0"
         textPreferenceKey="lowRank_text"
         textPreferenceValue="true"
         textStylePreferenceValue="BOX"
         verticalRulerPreferenceKey="lowRank_verticalRuler"
         verticalRulerPreferenceValue="false">
     </specification>
     <specification
         annotationType="br.usp.each.saeg.jaguar.midLowRankAnnotation"
         icon="icon/empty.gif"
         colorPreferenceKey="midLowRank_color"
         colorPreferenceValue="255,255,128"
         contributesToHeader="false"
         highlightPreferenceKey="midLowRank_highlight"
         highlightPreferenceValue="true"
         includeOnPreferencePage="true"
         label="Mid Low Rank Annotation"
         overviewRulerPreferenceKey="midLowRank_overviewRuler"
         overviewRulerPreferenceValue="true"
         presentationLayer="0"
         textPreferenceKey="midLowRank_text"
         textPreferenceValue="true"
         textStylePreferenceValue="BOX"
         verticalRulerPreferenceKey="midLowRank_verticalRuler"
         verticalRulerPreferenceValue="false">
     </specification>
     <specification
         annotationType="br.usp.each.saeg.jaguar.midHighRankAnnotation"
         icon="icon/empty.gif"
         colorPreferenceKey="midHighRank_color"
         colorPreferenceValue="255,204,153"
         contributesToHeader="false"
         highlightPreferenceKey="midHighRank_highlight"
         highlightPreferenceValue="true"
         includeOnPreferencePage="true"
         label="Mid High Rank Annotation"
         overviewRulerPreferenceKey="midHighRank_overviewRuler"
         overviewRulerPreferenceValue="true"
         presentationLayer="0"
         textPreferenceKey="midHighRank_text"
         textPreferenceValue="true"
         textStylePreferenceValue="BOX"
         verticalRulerPreferenceKey="midHighRank_verticalRuler"
         verticalRulerPreferenceValue="false">
     </specification>
     <specification
         annotationType="br.usp.each.saeg.jaguar.highRankAnnotation"
         icon="icon/empty.gif"
         colorPreferenceKey="highRank_color"
         colorPreferenceValue="255,160,160"
         contributesToHeader="false"
         highlightPreferenceKey="highRank_highlight"
         highlightPreferenceValue="true"
         includeOnPreferencePage="true"
         label="High Rank Annotation"
         overviewRulerPreferenceKey="highRank_overviewRuler"
         overviewRulerPreferenceValue="true"
         presentationLayer="0"
         textPreferenceKey="highRank_text"
         textPreferenceValue="true"
         textStylePreferenceValue="BOX"
         verticalRulerPreferenceKey="highRank_verticalRuler"
         verticalRulerPreferenceValue="false">
     </specification>
	</extension>

    <extension point="org.eclipse.ui.editors.annotationTypes">
        <type
            markerSeverity="0"
            super="org.eclipse.ui.workbench.texteditor.info"
            name="br.usp.each.saeg.jaguar.noRankAnnotation"
            markerType="br.usp.each.saeg.jaguar.plugin.marker.no"/>
        <type
            markerSeverity="0"
            super="org.eclipse.ui.workbench.texteditor.info"
            name="br.usp.each.saeg.jaguar.lowRankAnnotation"
            markerType="br.usp.each.saeg.jaguar.plugin.marker.low"/>
        <type
            markerSeverity="0"
            super="org.eclipse.ui.workbench.texteditor.info"
            name="br.usp.each.saeg.jaguar.midLowRankAnnotation"
            markerType="br.usp.each.saeg.jaguar.plugin.marker.midlow"/>
        <type
            markerSeverity="0"
            super="org.eclipse.ui.workbench.texteditor.info"
            name="br.usp.each.saeg.jaguar.midHighRankAnnotation"
            markerType="br.usp.each.saeg.jaguar.plugin.marker.midhigh"/>
        <type
            markerSeverity="0"
            super="org.eclipse.ui.workbench.texteditor.info"
            name="br.usp.each.saeg.jaguar.highRankAnnotation"
            markerType="br.usp.each.saeg.jaguar.plugin.marker.high"/>
     </extension>
   
    <extension point="org.eclipse.ui.editors.markerUpdaters">
        <updater
            id="br.usp.each.saeg.jaguar.plugin.markers.NoRankCodeMarkerUpdater"
            class="br.usp.each.saeg.jaguar.plugin.markers.NoRankCodeMarkerUpdater"
            markerType="br.usp.each.saeg.jaguar.plugin.marker.no">
        </updater>
        <updater
            id="br.usp.each.saeg.jaguar.plugin.markers.LowRankCodeMarkerUpdater"
            class="br.usp.each.saeg.jaguar.plugin.markers.LowRankCodeMarkerUpdater"
            markerType="br.usp.each.saeg.jaguar.plugin.marker.low">
        </updater>
        <updater
            id="br.usp.each.saeg.jaguar.plugin.markers.MidLowRankCodeMarkerUpdater"
            class="br.usp.each.saeg.jaguar.plugin.markers.MidLowRankCodeMarkerUpdater"
            markerType="br.usp.each.saeg.jaguar.plugin.marker.midlow">
        </updater>
        <updater
            id="br.usp.each.saeg.jaguar.plugin.markers.MidHighRankCodeMarkerUpdater"
            class="br.usp.each.saeg.jaguar.plugin.markers.MidHighRankCodeMarkerUpdater"
            markerType="br.usp.each.saeg.jaguar.plugin.marker.midhigh">
        </updater>
        <updater
            id="br.usp.each.saeg.jaguar.plugin.markers.HighRankCodeMarkerUpdater"
            class="br.usp.each.saeg.jaguar.plugin.markers.HighRankCodeMarkerUpdater"
            markerType="br.usp.each.saeg.jaguar.plugin.marker.high">
        </updater>
    </extension>

<!-- project explorer menu -->
 <extension
       point="org.eclipse.ui.commands">
    <category
          id="br.usp.each.saeg.jaguar.plugin.commands.category"
          name="br.usp.each.saeg.jaguar.plugin.commands.category.name">
    </category>
    <command
          categoryId="br.usp.each.saeg.jaguar.plugin.commands.category"
          id="br.usp.each.saeg.jaguar.plugin.commands.runAll"
          name="br.usp.each.saeg.jaguar.plugin.commands.runAll">
    </command>
    <command
          categoryId="br.usp.each.saeg.jaguar.plugin.commands.category"
          id="br.usp.each.saeg.jaguar.plugin.commands.runJaguar"
          name="br.usp.each.saeg.jaguar.plugin.commands.runJaguar">
    </command>
    <command
          categoryId="br.usp.each.saeg.jaguar.plugin.commands.category"
          id="br.usp.each.saeg.jaguar.plugin.commands.addColoring"
          name="br.usp.each.saeg.jaguar.plugin.commands.addColoring">
    </command>
    <command
          categoryId="br.usp.each.saeg.jaguar.plugin.commands.category"
          id="br.usp.each.saeg.jaguar.plugin.commands.removeColoring"
          name="br.usp.each.saeg.jaguar.plugin.commands.removeColoring">
    </command>
    <command
          categoryId="br.usp.each.saeg.jaguar.plugin.commands.category"
          id="br.usp.each.saeg.jaguar.plugin.commands.showJaguarView"
          name="br.usp.each.saeg.jaguar.plugin.commands.showJaguarView">
    </command>
    <command
          categoryId="br.usp.each.saeg.jaguar.plugin.commands.category"
          id="br.usp.each.saeg.jaguar.plugin.commands.showRoadmapView"
          name="br.usp.each.saeg.jaguar.plugin.commands.showRoadmapView">
    </command>
    <command
          categoryId="br.usp.each.saeg.jaguar.plugin.commands.category"
          id="br.usp.each.saeg.jaguar.plugin.commands.manualDebugging"
          name="br.usp.each.saeg.jaguar.plugin.commands.manualDebugging">
    </command>
 </extension>
 <extension
       point="org.eclipse.ui.handlers">
    <handler
          class="br.usp.each.saeg.jaguar.plugin.handlers.RunAllHandler"
          commandId="br.usp.each.saeg.jaguar.plugin.commands.runAll">
    </handler>
    <handler
          class="br.usp.each.saeg.jaguar.plugin.handlers.RunManualDebuggingHandler"
          commandId="br.usp.each.saeg.jaguar.plugin.commands.manualDebugging">
    </handler>
    <handler
          class="br.usp.each.saeg.jaguar.plugin.handlers.AddColorHandler"
          commandId="br.usp.each.saeg.jaguar.plugin.commands.addColoring">
    </handler>
    <handler
          class="br.usp.each.saeg.jaguar.plugin.handlers.RemoveColorHandler"
          commandId="br.usp.each.saeg.jaguar.plugin.commands.removeColoring">
    </handler>
    <handler
          class="br.usp.each.saeg.jaguar.plugin.handlers.JaguarViewHandler"
          commandId="br.usp.each.saeg.jaguar.plugin.commands.showJaguarView">
    </handler>
     <handler
          class="br.usp.each.saeg.jaguar.plugin.handlers.RoadmapViewHandler"
          commandId="br.usp.each.saeg.jaguar.plugin.commands.showRoadmapView">
    </handler>
 </extension>
 <extension
		id="menu.item.jaguar" 
      point="org.eclipse.ui.menus">
      <menuContribution
      		locationURI= "popup:org.eclipse.ui.popup.any?after=additions">
            <menu
                id="br.usp.each.saeg.jaguar.menu"
                label="Jaguar"
                icon="icon/jaguar.gif">
                <!--<visibleWhen>
                    <with variable="selection">
                        <iterate ifEmpty="false">
                            <adapt type="org.eclipse.core.resources.IResource">
                                <test
                                    forcePluginActivation="true"
                                    property="br.usp.each.saeg.jaguar.ui.namespace.hasXmlReportFile"
                                    value="true">
                                </test>
                            </adapt>
                        </iterate>
                    </with>
                </visibleWhen>-->
            </menu>
        </menuContribution>
        <menuContribution
            locationURI= "popup:br.usp.each.saeg.jaguar.menu?after=additions">
            <command
                commandId="br.usp.each.saeg.jaguar.plugin.commands.runAll"
                icon="icon/jaguar.gif"
                id="br.usp.each.saeg.jaguar.menu.item.runAll"
                label="Run Jaguar">
            </command>
        </menuContribution>
        <menuContribution
            locationURI= "popup:br.usp.each.saeg.jaguar.menu?after=additions">
            <command
                commandId="br.usp.each.saeg.jaguar.plugin.commands.manualDebugging"
                icon="icon/jaguar.gif"
                id="br.usp.each.saeg.jaguar.menu.item.manualDebugging"
                label="Eclipse Debugging">
            </command>
        </menuContribution>
       <menuContribution
            locationURI= "popup:br.usp.each.saeg.jaguar.menu?after=additions">
            <command
                commandId="br.usp.each.saeg.jaguar.plugin.commands.addColoring"
                icon="icon/jaguar.gif"
                id="br.usp.each.saeg.jaguar.menu.item.addColoring"
                label="Add Coloring">
            </command>
        </menuContribution>
        <menuContribution
            locationURI= "popup:br.usp.each.saeg.jaguar.menu?after=additions">
            <command
                commandId="br.usp.each.saeg.jaguar.plugin.commands.removeColoring"
                icon="icon/jaguar.gif"
                id="br.usp.each.saeg.jaguar.menu.item.removeColoring"
                label="Remove Coloring">
            </command>
        </menuContribution>
        <menuContribution
            locationURI= "popup:br.usp.each.saeg.jaguar.menu?after=additions">
            <command
                commandId="br.usp.each.saeg.jaguar.plugin.commands.showJaguarView"
                icon="icon/jaguar.gif"
                id="br.usp.each.saeg.jaguar.menu.item.showJaguarView"
                label="Show Jaguar View">
            </command>
        </menuContribution>
        <menuContribution
            locationURI= "popup:br.usp.each.saeg.jaguar.menu?after=additions">
            <command
                commandId="br.usp.each.saeg.jaguar.plugin.commands.showRoadmapView"
                icon="icon/jaguar.gif"
                id="br.usp.each.saeg.jaguar.menu.item.showRoadmapView"
                label="Show Roadmap View">
            </command>
        </menuContribution>
    </extension>
<!--	These perspective extensions allow to show jaguar view by default for Java and Resources perspectives
	<extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="br.usp.each.saeg.jaguar.plugin.views.JaguarView"
               ratio="0.25"
               relationship="right"
               relative="org.eclipse.ui.views.ContentOutline">
         </view>
      </perspectiveExtension>
	</extension>
	<extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               id="br.usp.each.saeg.jaguar.plugin.views.JaguarView"
               ratio="0.75"
               relationship="right"
               relative="org.eclipse.ui.editorss">
         </view>
      </perspectiveExtension>
	</extension>
-->
	<extension point="org.eclipse.core.expressions.propertyTesters">
		<propertyTester 
			class="br.usp.each.saeg.jaguar.plugin.views.content.JaguarMenuPropertyTester"
			id="br.usp.each.saeg.jaguar.property.tester"
			namespace="br.usp.each.saeg.jaguar.plugin.namespace"
			properties="hasXmlReportFile"
			type="org.eclipse.core.resources.IResource">
		</propertyTester>	         
	</extension>
         
</plugin>
